<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie de pagina</title>

    <link rel="stylesheet" href="/src/templates/view/style.css">

    <link rel="stylesheet" href="/src/templates/view/css/bootstrap.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <footer class="container-fluid bg-dark text-light" data-bs-theme="dark">
        <div class="row align-items-center justify-content-center p-2 ">
          <div class="col m-2">
            <div>Inicio</div>
            <div>Catálogo</div>
            <div>Quienes somos?</div>
            <div>Prensa</div>
          </div>
          
          <div class="col m-2">
            <div>Contacto</div>
            <div>Mapa del sitio</div>
            <div>FAQs</div>
        </div>
          <div class="col m-2">
            <div><a>Nuestro Facebook <i class='bx bxl-facebook-square' ></i></a></div>
            <div><a>Nuestro Instagram <i class='bx bxl-instagram-alt' ></i></a></div>
            <div><a>Nuestro Whatsapp <i class='bx bxl-whatsapp-square' ></i></a></div>
          </div>
          
        </div>
        
        
        
        
      </footer>  
</body>
</html>