<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libreria</title>
 
    <link rel="stylesheet" href = "https://bootswatch.com/5/lux/bootstrap.min.css " />
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
   

</head>
<body>
  <div id="navbarContainer"></div>
  <section class="portada. m-3 p-3  d-flex justify-content-center"> <div class="imagen">
        <img class="img" src="../images/portada.png" alt="El refugio de los libros">  
  </section>


  <div class="container text-center m-5">
    <div class="row">
      <div class="col">
        <i class='bx bxs-offer m-5 d-flex justify-content-center '></i>
          <p class="parrafo">Ofertas y promociones</p>
      </div>
      <div class="col">
        <i class='bx bxs-heart m-5 d-flex justify-content-center'></i>
          <p class="parrafo">Nuestros más vendidos</p>
      </div>
      <div class="col">
        <i class='bx bxs-book-heart m-5 d-flex justify-content-center'></i>
        <p class="parrafo">Nuevos lanzamientos</p>
      </div>
    </div>
  </div>


<h1 class="titulo text-white">Ofertas y promociones</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  
  <div class="col">
   
    <div class="card h-100">
      <img src="../images/libro1.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Habitos Atomicos</h5>
        <p class="card-text">El ser humano, en un constante desafío consigo mismo, tiende a ponerse metas con el fin de alcanzar objetivos que le hagan sentirse dueño de su propio destino. Metas que, a menudo, resultan lejanas e inalcanzables, y que acaban convirtiéndose en una mera utopía abandonada en el camino de la vida. Incluso aquellas que pudieran ser más simples como perder peso, hacer ejercicio, dejar ciertas adicciones o aprender un nuevo idioma, se convierten en un sueño inalcanzable. Pero, ¿por qué otros son capaces de conseguirlo? ¿Dónde está el secreto del éxito?</p>
      </div>

      
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
        <button onclick="window.location.href = 'cardLibro.html';" class="btn btn-primary"> VER</button>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img src="../images/poderSinLimites.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El Poder Sin Limites</h5>
        <p class="card-text">"Poder sin límites" de Tony Robbins es un libro de autoayuda que se centra en el desarrollo personal. Cubre varios aspectos del crecimiento personal, incluido el poder de la mente, la acción y el papel de las emociones.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../images/los7Habitos.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Los 7 Habito De La Genta Altamente Efectiva</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Esta publicación está basada en el libro escrito por Stephen R. Covey llamado “Los 7 hábitos de la gente efectiva”.

          El seguimiento de los hábitos identificados por el señor Covey, ayudará al lector a conseguir mejorar el comportamiento en diferentes aspectos de su vida, ya sea en lo personal, familiar o socialmente. En definitiva, lograr las aspiraciones más importantes en la vida de cada uno y conseguir vencer los obstáculos que se interpongan en el camino para realizarlas con éxito.</small>
      </div>
    </div>
  </div>
</div>



<h1 class="titulo text-white">Nuestro mas vendidos</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  
  <div class="col">
   
    <div class="card h-100">
      <img src="../images/mentemillonaria.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Los secretos de la mente millonaria</h5>
        <p class="card-text">«Los Secretos de la Mente Millonaria», cuyo título original en inglés es Secrets of the Millionaire Mind, es un libro bestseller escrito por T. Harv Eker y publicado en 2005. En él, el autor nos revela los principales pensamientos limitantes que nos impiden ganar más dinero. Sin duda, un libro que no debes perderte si tú también quieres adoptar la mentalidad adecuada para generar una mayor riqueza.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../images/poderSinLimites.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El Poder Sin Limites</h5>
        <p class="card-text">"Poder sin límites" de Tony Robbins es un libro de autoayuda que se centra en el desarrollo personal. Cubre varios aspectos del crecimiento personal, incluido el poder de la mente, la acción y el papel de las emociones.</p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../images/padrerico.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Padre Rico padre pobre</h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-body-secondary">Padre rico, padre pobre es una lectura necesaria si quieres aprender sobre finanzas personales y educación financiera. Este bestseller ha ayudado a la mayoría de la gente a entender cuáles son sus malos hábitos financieros, cómo cambiarlos, saber cómo invertir y tener una mejor comprensión de los mercados.</small>
      </div>
    </div>
  </div>
</div>


   


<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script src="/scripts/script.js"></script>
</html>