
body{
    padding: 0%;
    margin: 0;;
    height: 100%;


}.img{
    width: 100%;
    height: auto;
    display: block; 
    margin: 1%;
   
}

.icons-container{
    display: flex;
    justify-content: center;
    margin: 1%;
}
.parrafo{
    margin: 5%;
}

.icon-item {
    text-align: center; 
    margin-bottom: 1rem;
}

.icon-item i {
    font-size: 3rem; /* Tamaño de los iconos */
}

.titulo{
    display: flex;
    justify-content: center;
    margin: 5%;
    background-color: #830ab4;
    
}
.card-img-top {
    height: 500px; 
    object-fit: cover;
    
  }

#carouselExampleDark {
    max-width: 500px;
    margin: auto; 
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto; 
    margin: 1%;
}